/* backgroundColor: "aqua",
            color: "brown",
            bottom: "0%",
            height: "30px",
            width: "100%", */
.static{
    position: relative;
    background-color: aqua;
    color: brown;
    height: ;
    bottom: 0px;
    width: 100%;
}
.title{
    font-family: inherit;
    font-size: 20px;
}
@media (max-width: 480px) {
    .static{
    position: relative;
    background-color: aqua;
    color: brown;
    bottom: -200px;
    width: 100%;
}
.title{
    font-family: inherit;
    font-size: large;
}
}

